@import url('./normalize.css');

html{
    font-size: 10px;
}
body{
    font-family: 'Montserrat';
}
.section{
    background: #ECECEC;
}
li{
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #C4C4C4;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    background: white;
}
.navigation{
    width: 45%;
}
#bg-fon{
    height: 2.2rem;
    background-image: url('../img/png/pin\ 1.png');
    background-repeat: no-repeat;
    background-position:1rem;
}
.list1{
    width: 50rem;
    border: 2px solid #323232;
    font-weight: 500;
    border-radius: .5rem;
    padding: 2.5rem;
    padding-left: 4rem;
    font-size: 1.6rem;
}
.navigation2{
    width: 10%;
}
.navigation2 ul{
    display: flex;
    justify-content: space-around;
}
.list2{
    width: 100%;
}
.style-link{
    text-decoration: none;
    background-color: #EF781A;
    font-size: 1.6rem;
    color: white;
    padding: 1.5rem 2.0rem;
    transition: all 400ms;
    border-radius:.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.style-link:hover{
    color: white;
    background: #00D008;
}
h1{
    padding-top: 7rem;
    padding-left: 7%;
    height: 15rem;
    font-size: 3.6rem;
    font-weight: 800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: white;
    margin-top: 0rem;
}
.navigation3{
    width: 60%;
    padding-left: 6%;
}
.navigation3 ul{
    display: flex;
}
.list3-style{
    width: 100%;
    margin-right: 3%;
}
.links3{
    text-decoration: none;
    transition: all 400ms;
    font-size: 1.8rem;
    color: #7B7B7B;
}
.links3:hover{
    color: #343434;
    background-color: #C4C4C4;
    padding: .6rem .8rem;
    border-radius: 1rem;
}
.box{
    margin-left: 7%;
}
h2{
    color: #000000;
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-left: 7%;
}
.box{
    display: flex;
    margin-top: 3.5rem;
}
.box1{
    display: flex;
}
.card{
    margin-right: 3%;
    height: 27.5rem;
    width: 25.5rem;
    border-radius: .5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 1s;
}
.card-img-top{
    width: 23rem;
}
.card-title{
    font-size: 1.8rem;
    padding-top: 2rem;
}
.card-text{
    font-size: 1rem;
    color: #A1A1A1;
}
.price{
    font-size: 1.8rem;
    transition: all 1s;
}
.btn{
    display: none;
    background-color: #FF6C01;
    border: none;
    font-size: 1.2rem;
    width: 11rem;
}
.position-btn{
    display: flex;
    justify-content: space-between;
}
.svg{
    padding-right: 1%;
}
.card:hover .btn{
    display: block;
    background-color: #FF6C01;
}
.card:hover .price{
    display: none;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}
path:hover{
    fill:#69A042;
}
.box-choice{
    width: 40rem;
    height: 31.5rem;
    background-color: white;
    margin-left: 10%;
    border-radius: .5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box-choice1{
    margin: 0 auto;
    width: 80%;
}
.text{
    padding-top: 2.5rem;
    font-size: 1.8rem;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 3rem;
}
h3{
    font-size: 1.4rem;
}
.texts p{
    font-size: 1.2rem;
    color: #979797;
    padding-left: .3rem;
}
.texts p::before{
    content: '';
    background-image: url('../img/png/Ellipse\ 1.png');
    display: inline-block;
    position: relative;
    width: .3rem;
    height: .3rem;
    right: .3rem;
    top:-.2rem
}
.box-choice1{
    display: flex;
    justify-content: space-between;
}
.choice img{
    width: 2.8rem;
    height: 2.8rem;
}
.choice{
    display: flex;
}
.choice>p{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0rem 1rem;
}
.text2{
    font-size: 1.4rem;
    font-weight: 500;
}
.text3{
    font-size: 1.4rem;
    font-weight: 500;
}
.position{
    background-color: #FF6C01;
    padding: 3rem 2rem 2rem 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.8rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 1s;
}
.position:hover{
    cursor: pointer;
    transform: scale(1.1);
}
h4{
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 3.5rem;
    margin-left: 7%;
}
.box-contact{
    margin-top: 3rem;
    width: 47%;
    height:30rem;
    margin-left: 7%;
    background: white;
}
.box-contact div{
    margin: 0 auto;
    width: 80%;
}
.box-contact h5{
    padding-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #999999;
}
.box-contact p{
    font-size: 1.6rem;
    font-weight: 500;
}
.up img{
    margin-left: 7%;
    margin-top: 6.8rem;
}
@media screen and (max-width:1270px){
    .box{
        flex-wrap: wrap-reverse;
    }
    .box-choice{
        margin-bottom: 3rem;
        margin-left: 0%;
    }
}
@media screen and (max-width:1190px){
   .navigation2 ul{
    flex-wrap: wrap;
   }
   .list2:last-child{
    margin-top: 4rem;
   }
   header{
    margin-top: 1.5rem;
   }
}
@media screen and (max-width:980px){
    .box-contact{
        margin: 0 auto;
    }
    h4{
        margin: 0 auto;
        padding-top: 2rem;
        width: 45%;
        padding-bottom: 2rem;
    }
    .box-contact p{
        font-size: 1.3rem;
    }
    .box-contact h5{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:910px){
    .list1{
        width: 40rem;
    }
}
 @media screen and (max-width:835px){
    .box1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-img-top{
        width: 25.3rem;
    }
    .card{
        margin-top: 2rem;
        height: 30rem;
    }
    .box-choice{
        margin: 0 auto;
    }
    h2{
        margin: 0 auto;
        width: 0%;
        padding-top: 2rem;
    }
    .list1{
        width: 30rem;
    }
    .style-link{
        margin-left: -5rem;
    }
}